In [1]:
import pandas as pd

In [11]:
aguila_catalanqa_ca = pd.read_csv("results/aguila-7b-catalanqa-ca.csv")
aguila_catalanqa_en = pd.read_csv("results/aguila-7b-catalanqa-en.csv")
falcon_catalanqa_ca = pd.read_csv("results/falcon-7b-catalanqa-ca.csv")
falcon_catalanqa_en = pd.read_csv("results/falcon-7b-catalanqa-en.csv")
aguila_xquad_ca = pd.read_csv("results/aguila-7b-xquad-ca.csv")
aguila_xquad_en = pd.read_csv("results/aguila-7b-xquad-en.csv")
falcon_xquad_ca = pd.read_csv("results/falcon-7b-xquad-ca.csv")
falcon_xquad_en = pd.read_csv("results/falcon-7b-xquad-en.csv")

In [14]:
columns = ["prob", "f1"]
values = [
["aguila","catalanqa","ca"] + aguila_catalanqa_ca[columns].mean().to_list(),
["aguila","catalanqa","en"] + aguila_catalanqa_en[columns].mean().to_list(),
["falcon","catalanqa","ca"] + falcon_catalanqa_ca[columns].mean().to_list(),
["falcon","catalanqa","en"] + falcon_catalanqa_en[columns].mean().to_list(),
["aguila","xquad","ca"] + aguila_xquad_ca[columns].mean().to_list(),
["aguila","xquad","en"] + aguila_xquad_en[columns].mean().to_list(),
["falcon","xquad","ca"] + falcon_xquad_ca[columns].mean().to_list(),
["falcon","xquad","en"] + falcon_xquad_en[columns].mean().to_list(),
]
pd.DataFrame(data=values, columns=["model", "task", "lang"] + columns)

    model       task lang      prob        f1
0  aguila  catalanqa   ca  0.700586  0.540836
1  aguila  catalanqa   en  0.532715  0.400000
2  falcon  catalanqa   ca  0.645312  0.424384
3  falcon  catalanqa   en  0.577539  0.456410
4  aguila      xquad   ca  0.638672  0.368889
5  aguila      xquad   en  0.705859  0.516364
6  falcon      xquad   ca  0.562500  0.333333
7  falcon      xquad   en  0.678320  0.513333